.App {
  text-align: left;
}

#root {
  margin: auto;
  width: 500px;
}

.inputDiv label {
  width: 150px;
  display: inline-block;
}

.inputDiv input {
  width: 250px;
}

.inputDiv {
  background-color: rgb(179, 187, 216);
  padding: 10px;
  margin: 15px;
  border-radius: 7px;
  color: rgb(40, 40, 70);
}

.error {
  color: rgb(138, 58, 65);
  font-size: 13px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
